{% extends "index.html" %}
{% load leaflet_tags %}
{% block title %}{% endblock %}
{% block content %}

    {% leaflet_js %}
    {% leaflet_css %}


    <h1>Difficulty</h1>

    <div id="map">{% leaflet_map "slopes" callback="main_map_init" %}</div>

    <script type="text/javascript">


        var redGroup = L.layerGroup();
        var blueGroup = L.layerGroup();


        function main_map_init (map, options) {
            var dataurl = '{% url "slopesdata" %}'
            $.getJSON(dataurl, function (data){

                var layer = L.geoJson(data, {onEachFeature: onEachFeature});

                L.control.layers(null, {
                    "Red slopes" : redGroup,
                    "Blue slopes" : blueGroup
                },
                    {collapsed: false}
                ).addTo(map);


            });
        }


        function getColor(c) {
            switch (c) {
                case 'Blue':
                    return "#33AFFF";
                case 'Red':
                    return "#ff0000";
                case 'Grey':
                 return "#d5d5d5";
            }
        }

        function style(color) {
            return {
            fillColor: getColor(color),
            color :getColor(color) };
        }


        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.name) {
                layer.bindPopup(feature.properties.name);

            }
             layer.setStyle(style("Grey"));

            if (feature.properties.difficulty === "Red"){
                redGroup.addLayer(layer);
                  layer.setStyle(style("Red"));
            }else{
                blueGroup.addLayer(layer);
                 layer.setStyle(style("Blue"));
            }


        }


    </script>

{% endblock %}