{% extends "index.html" %}
{% load leaflet_tags %}
{% block title %}{% endblock %}
{% block content %}


     {% leaflet_js %}
    {% leaflet_css %}

    Status
<div id="map">{% leaflet_map "slopes" callback="main_map_init" %}</div>


    <script type="text/javascript">
        function main_map_init (map, options) {
            var dataurl = '{% url "slopesdata" %}'
            $.getJSON(dataurl, function (data){
               L.geoJson(data,{onEachFeature: onEachFeature}).addTo(map);
            });
            var restoaurl = '{% url "restaurantsdata" %}'
            $.getJSON(restoaurl, function (data){
               L.geoJson(data,{onEachFeature: onEachFeature}).addTo(map);
            });
            var grenurl = '{% url "grenouilleresdata" %}'
            $.getJSON(grenurl, function (data){
               L.geoJson(data,{onEachFeature: onEachFeature}).addTo(map);
            });
            var parkurl = '{% url "parkingsdata" %}'
            $.getJSON(parkurl, function (data){
               L.geoJson(data,{onEachFeature: onEachFeature}).addTo(map);
            });
            var lifturl = '{% url "liftsdata" %}'
            $.getJSON(lifturl, function (data){
               L.geoJson(data,{onEachFeature: onEachFeature}).addTo(map);
            });
        }

        function onEachFeature(feature, layer) {
            if (feature.properties && (feature.properties.statrus || feature.properties.status)) {
                if(feature.properties.statrus){
                    var status = feature.properties.statrus
                }
                else{
                    var status = feature.properties.status
                }
                
               layer.bindPopup(status);
            }

        }
    </script>
{% endblock %}